/* Default global styles */
:root{
    --monospace-font: 'IBM Plex Mono', 'Courier New', monospace;
    --bg-color: #001C2E;
    --contrast-color: #FDE8D8;
    --accent-color-1: #E87979;
    --accent-color-2: #ffcd70; 
    /* --accent-color-3: #e779b0; */
    --box-shadow: 10px 10px 0 var(--accent-color-1);
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
    color: var(--contrast-color);
    display: flex;
    flex-direction: column;
    font-family: var(--monospace-font);
    font-size: 13pt;
    font-weight: 200;
    height: 100vh;
    line-height: 175%;
    margin: 0;
}

h1{
    font-size: 38pt;
}

a{
    color: var(--contrast-color);
    text-decoration: underline solid 4px;
}

a:hover, a:focus{
    color: var(--accent-color-1);
    transition: 0.15s ease-in-out;
}

figure{
    margin: 0;
}

header{
    background: var(--bg-color-lighter);
    border: 1px solid var(--contrast-color);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 10px 10px 25px 10px;
}

.logo{
    width: 25%;
}

nav{
    display: flex;
    justify-content: flex-end;
    width: 75%;
}

.menu li{
    display: inline;
    font-weight: 600;
    font-size: 16pt;
    margin: 0 15px;
}

main{
    /* makes `main` take up remaining space between header and footer */
    flex: 1 1 auto;
    padding: 0 10px;
}

.caption{
    font-size: 11pt;
    font-style: italic;
}

.subtitle{
    font-weight: 200;
    font-size: 12pt;
    margin-top: 0;
    text-transform: uppercase;
    line-height: 100%;
}

footer{
    align-items: center;
    border-top: 1px dashed var(--contrast-color);
    display: flex;
    justify-content: center;
    padding: 30px 10px;
}

/* About Page */
.about-section{
    display: flex;
    flex-direction: column;
}

.headshot{
    float: inline-start;
    padding: 0 30px 10px 0;
    width: 300px;
}

.tonks-video{
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: 40px 0 0 0;
}

/* Portfolio Page */
.portfolio-section{
    border: 1px solid var(--contrast-color);
    box-shadow: var(--box-shadow);
    margin: 0 10px 40px 0;
    padding: 20px;
}

h2.project-title{
    margin: 0 0 15px 0;
}

.project-name{
    font-style: italic;
}

.project-image{
    width: 50%;
    margin-right: 40px;
}

.project-content{
    display: flex;
}

.project-content article p{
    margin-top: 0;
}

/* Resume Page */
.resume-wrapper{
    border: 1px solid var(--contrast-color);
    box-shadow: var(--box-shadow);
    margin: 30px 10px 40px 0;
    padding: 40px;
}

.resume-wrapper section:first-of-type h2.resume-section-title{
    margin-top: 0;
}

h2.resume-section-title{
    margin: 60px 0 0 0;
    font-size: 26pt;
    text-decoration: 6px solid underline var(--accent-color-1);
}

h3.resume-subsection-title{
    font-size: 16pt;
    font-weight: 500;
    margin-bottom: 10px;
}

.resume-wrapper h4{
    font-size: 14pt;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.skills-section{
    display: flex;
}

.skills-section section:first-of-type{
    margin-right: 10%;
}

.skills-section ul{
    margin: 0;
    padding: 0;
    list-style: inside '— ';
}