/* ------------ Default global styles ------------*/
:root{
    --monospace-font: 'IBM Plex Mono', 'Courier New', monospace;
    --sanserif-font: 'stratos', 'Helvetica Nue', sans-serif;
    --bg-color: #020B1A;
    --contrast-color: #FFF3DB;
    --accent-color-1: #CC5E67;
    --box-shadow-accent: 10px 10px 0 var(--accent-color-1);
    --box-shadow-neutral: 10px 10px 0 var(--contrast-color);
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
    color: var(--contrast-color);
    display: flex;
    flex-direction: column;
    font-family: var(--monospace-font);
    font-size: 13pt;
    font-weight: 200;
    height: 100vh;
    line-height: 175%;
    margin: 0;
}

h1, h2, h3, h4{
    font-family: var(--sanserif-font);
}

h1, h2, h3, h4{
    font-family: var(--sanserif-font);
}

h1{
    font-weight: 400;
    font-size: 3.2rem;
    text-decoration: underline solid 0.5rem var(--accent-color-1);
    margin-bottom: 4rem;
}

h2{
    font-size: 2.15rem;
    font-weight: 400;
}

h3{
    font-size: 1.6rem;
    font-weight: 500;
}

h4{
    font-size: 1.25rem;
    font-weight: 100;
}

a{
    color: var(--contrast-color);
    text-decoration: underline solid 4px;
}

a:hover, a:focus{
    color: var(--accent-color-1);
    transition: 0.2s ease-in-out;
}

figure{
    margin: 0;
}

header{
    border: 1px solid var(--contrast-color);
    box-shadow: var(--box-shadow-neutral);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    margin: 10px 10px 30px 10px;
}

.logo{
    display: flex;
    width: 250px;
    transition: 0.2s ease-in-out;
}

.logo:hover{
    transform: scale(1.05);
}

nav{
    display: flex;
    font-family: var(--sanserif-font);
    justify-content: flex-end;
    align-items: center;
    width: 75%;
}

.menu li{
    display: inline;
    font-weight: 400;
    font-size: 16pt;
    margin: 0 15px;
}

.menu a{
    text-transform: lowercase;
    text-decoration: underline solid 4px var(--bg-color);
    transition: 0.2s ease-in-out;
}

.menu a:hover,
.menu a:focus,
.menu a.current-page{
    text-decoration: underline solid 4px var(--accent-color-1);
}

main{
    /* makes `main` take up remaining space between header and footer */
    flex: 1 1 auto;
    padding: 0 10px;
}

.caption{
    font-size: 11pt;
    font-style: italic;
    text-align: center;
}

.subtitle{
    font-family: var(--monospace-font);
    font-weight: 200;
    font-size: 1.1rem;
    margin-top: 0;
    text-transform: uppercase;
    line-height: 100%;
}

.accent-text{
    color: var(--accent-color-1);
    font-weight: 500;
}

.carrot-list li{
    list-style: none;
}

.carrot-list li::before{
    content: '> ';
    color: var(--accent-color-1);
    font-weight: 500;
}

ul{
    margin: 0;
    padding: 0;
    list-style: inside '— ';
    text-indent: -1.25rem;
    padding-left: 1.25rem;
}

footer{
    align-items: center;
    border-top: 1px dashed var(--accent-color-1);
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 30px 10px;
}

/* ------------ Home Page ------------ */
.home-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#intro-box{
    align-items: center;
    background-color: var(--bg-color);
    border: 1px solid var(--accent-color-1);
    box-shadow: var(--box-shadow-accent);
    display: flex;
    flex-direction: column;
    font-size: 1.75rem;
    justify-content: center;
    height: 300px;
    margin-top: 100px;
    width: 500px;
}

#intro-box img{
    height: 2.25rem;
}

#intro-box div{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0 0 -20%;
}

#hello-text{
    margin: 0 0 0 20px ;
}

#name-text{
    margin: 10px 0 0 25%;
}

.vertical-line{
    border: 1px dashed var(--contrast-color);
    height: 500px;
    width: 1px;
    margin: 0 7% 0 7%;
}

.home-content .carrot-list{
    font-size: 1.5rem;
    line-height: 250%;
}

/* ------------ About Page ------------ */
.about-section{
    display: flex;
    flex-direction: column;
}

.headshot{
    float: inline-start;
    padding: 0 30px 10px 0;
    width: 300px;
}

.tonks-video{
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: 40px 0 0 0;
}

.tonks-video video{
    border: 1px solid var(--contrast-color);
    box-shadow: var(--box-shadow-accent);
}

/* ------------ Portfolio Page ------------ */
.portfolio-section{
    border: 1px solid var(--contrast-color);
    box-shadow: var(--box-shadow-neutral);
    margin: 0 10px 100px 0;
    padding: 30px;
}

h2.project-title{
    margin: 0 0 20px 0;
}

.project-name{
    font-style: italic;
}

.project-content{
    display: flex;
    margin: 20px 0 0 0;
}

.project-image{
    width: 30%;
    margin-right: 40px;
}

.project-content article p{
    margin-top: 0;
}

/* ------------ Resume Page ------------ */
.resume-wrapper{
    border: 1px solid var(--accent-color-1);
    box-shadow: var(--box-shadow-accent);
    margin: 30px 10px 40px 0;
    padding: 40px;
}

.resume-section-title{
    display: flex;
    align-items: flex-end;
    padding: 0 0 8px 0; /*Makes emoji align with base of text underline*/
}

.resume-wrapper section:first-of-type .resume-section-title h2{
    margin-top: 0;
}

.resume-section-title h2{
    margin: 60px 0 0 0;
    text-decoration: 6px solid underline var(--accent-color-1);
}

.resume-emoji{
    height: 34pt;
    margin: 0 0 -8px 10px; /*Makes emoji align with base of text underline*/
}

.resume-wrapper h3{
    margin-bottom: 0.75rem;
}

h3.resume-subsection-title{
    margin-bottom: 10px;
}

.skills-section{
    display: flex;
}

.skills-section section:first-of-type{
    margin-right: 10%;
}

/* ------------ Contact Page ------------ */
.contact-content{
    display: flex;
}

.contact-content figure{
    margin-right: 30px;
    width: 30%;
}

.contact-content figure img{
    width: 100%;
}

table, th, td{
    border: 1px solid var(--contrast-color);
    border-collapse: collapse;
}

th, td{
    padding: 5px 10px;
}