<a href="index.html" class="logo">
    <img src="./assets/logos/full_logo.svg" alt="JDB Development logo">
</a>
<img id="menu-icon" src="./assets/menu_icon.svg" alt="menu">
<nav>
    <ul class="menu">
        <!-- <li v-for="(href, pageName) in pages"><a :class="findCurrentPage(pageName)" :href="href"
                :onclick="handleNavClick">{{pageName}}</a>
        </li> -->
        <li v-for="(href, pageName) in pages"><a :class="findCurrentPage(pageName)"
                :onclick="handleNavClick">{{pageName}}</a>
        </li>
    </ul>
</nav>